<html ng-app="app">
	<head>
		<title>My Angular app</title>
		<script src="js/angular.js"></script>
	</head>
	<body>
		<div class="counter" ng-controller="CounterController as counter">
			<h3>Counter: {{ counter.count }}</h3>
			<a class="counter__increment" href="" ng-click="counter.increment()">
				Increment Counter
			</a> -
			<a class="counter__decrement" href="" ng-click="counter.decrement()">
				Decrement Counter
			</a>
			<ul>
				<li ng-repeat="list in counter.countList">
					<input type="text" ng-model="list.id">
				</li>
			</ul>
		</div>
		<script src="js/app.js"></script>
		<script src="js/controllers/CounterController.js"></script>
	</body>
</html>
