* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #eee;
  margin: 0;
  padding: 0;
}
.main {
  margin: 25px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.header {

}
.header__labels {
  margin: 0;
  padding: 0;
}
.header__labels li {
  display: inline-block;
}
.header__labels li a {
  padding: 8px 12px;
  display: block;
  color: #444;
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
}
.header__labels li a.active {
  border-bottom-color: #337ab7;
}
.home, .about, .contact {
  padding: 25px;
}
.home {
  background: #fff;
}
.about {
  background: #337ab7;
  color: #fff;
}
.contact {
  background: #444444;
  color: #fff;
}
