<html ng-app="app">
	<head>
		<title>My Angular app</title>
		<script src="js/angular.js"></script>
		<style>
		form .ng-dirty.ng-invalid {
			border: 1px solid red;
		}
		form .ng-valid {
			border: 1px solid green;
		}
		</style>
	</head>
	<body>
		<form
			novalidate
			name="register"
			ng-controller="CheckoutController as checkout"
			ng-submit="checkout.onSubmit();">

			<h4>Checkout</h4>
			<p>Fill in your details to complete your order</p>

			<label>
				Username
				<input
					type="text"
	        name="username"
	        placeholder="Username"
	        ng-model="checkout.details.username"
	        required="required">
			</label>

			<label>
				Password
				<input
					placeholder="Password"
	        type="password"
	        name="password"
	        ng-model="checkout.details.password"
	        required="required">
			</label>

			<label>
				Coupon
				<input
					placeholder="Coupon"
					type="text"
					name="coupon"
					ng-model="checkout.details.coupon"
					required="required"
	        coupon-format>
			</label>

			<div ng-if="register.coupon.$error.coupon">
				Invalid coupon!
				Must be characters, followed by an underscore and 2 digits.
			</div>

			<button type="submit">
				Checkout
			</button>

		</form>

		<script src="js/app.js"></script>
		<script src="js/directives/couponFormat.js"></script>
		<script src="js/controllers/CheckoutController.js"></script>
	</body>
</html>
